# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# raw reads
fq/*

# spikes results
spikes/*

# miRNA results
miRNA/*

# piRNA results
piRNA/*

# snakemake related
.snakemake

# R project files
.Rproj.user
*.Rproj
